<div class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-background-color="black">
      <!--data-image="../assets/img/sidebar-2.jpg"
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Admin Panel
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../admin/user-management">
              <i class="material-icons">person</i>
              <p>Users Management</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../admin/product-management">
              <i class="material-icons">content_paste</i>
              <p>Product Management</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="../admin/order-management">
              <i class="material-icons">bubble_chart</i>
              <p>Order Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../admin/category-management">
              <i class="material-icons">category</i>
              <p>Category Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/coupon-management">
              <i class="material-icons">category</i>
              <p>Coupon Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../admin/banner-management">
              <i class="material-icons">library_books</i>
              <p>Banner Management</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">

      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-3 text-white">
              <h2 class="mt-5 text-dark" style="font-size: 1.5rem;"><strong>Add Products</strong> </h2>
              <form action="/admin/add-product" style="margin-top: 2em;" method="post" enctype="multipart/form-data">
                <div class="mb-1">
                  <label for="name" class="form-label text-dark"><strong> Product Name</strong> </label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required>
                  <span id="productName-error" class="validation-label" style="color: red;"></span>
                </div>
                <div class="mb-1">
                  <label for="code" class="form-label text-dark"><strong> Product Code</strong> </label>
                  <input type="" class="form-control" name="code" id="code" required>
                  <span id="code-error" class="validation-label" style="color: red;"></span>
                </div>

                <div class="mb-1">
                  <label for="stock" class="form-label text-dark"><strong> Available Product Stock</strong> </label>
                  <input type="number" class="form-control" name="stock" id="stock" required>
                  <span id="stock-error" class="validation-label" style="color: red;"></span>
                </div>

                <div class="mb-1">
                  <label for="category" class="form-label text-dark"><strong> Product Category</strong> </label>
                  <select class="form-select" name="category" id="category" required>
                    <option value="" class="">Select a category</option>
                    {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                    <span id="category-error" class="validation-label" style="color: red;"></span>
                  </select>
                </div>

                <div class="mb-1">
                  <label for="description" class="form-label text-dark"><strong> Description</strong> </label>
                  <input type="text" class="form-control" name="description" id="description" required>
                  <span id="description-error" class="validation-label" style="color: red;"></span>
                </div>
                <div class="mb-1">
                  <label for="price" class="form-label text-dark"><strong> Price</strong> </label>
                  <input type="number" class="form-control" name="price" id="price" required>
                  <span id="price-error" class="validation-label" style="color: red;"></span>
                </div>

                <div class="mb-1">
                  <label for="image" class="form-label text-dark"><strong>Image</strong> </label>
                  <input type="file" class="form-control" name="image" id="image" multiple required>
                  <span id="image-error" class="validation-label" style="color: red;"></span>
                </div>


                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-success" 
                    onclick="return validateProductForm()">Submit</button>
                  {{!--
                </div>
                <div class="text-center mt-4"> --}}
                  <button type="button" class="btn" style="background-color: rgba(84,110,122,1.0);"><a
                      href="/admin/product-management" class="text-white">Cancel</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>





<script type="text/javascript" src="/javascripts/signup-validation.js"></script>

