<div class="">
    <div class="wrapper ">
    <div class="sidebar" data-color="white" data-background-color="black" >
      <!--data-image="../assets/img/sidebar-2.jpg"
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo"><a href="" class="simple-text logo-normal">
          Admin Panel
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="../admin/user-management">
              <i class="material-icons">person</i>
              <p>Users Management</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../admin/product-management">
              <i class="material-icons">content_paste</i>
              <p>Product Management</p>
            </a>
          </li>
          
           <li class="nav-item ">
            <a class="nav-link" href="../admin/order-management">
              <i class="material-icons">bubble_chart</i>
              <p>Order Management</p>
            </a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link" href="../admin/category-management">
              <i class="material-icons">category</i>
              <p>Category Management</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../admin/banner-management">
              <i class="material-icons">library_books</i>
              <p>Banner Management</p>
            </a>
          </li>
           
        </ul>
      </div>
    </div>
    <div class="main-panel">

      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-3 text-dark">
              <h2 class="mt-5" style="font-size: 1.5rem;"><strong> Add Banner</strong></h2>
              <form action="/admin/add-banner" style="margin-top: 2em;" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label text-dark"><strong>Banner Title</strong> </label>
                  <input type="text" class="form-control" name="name" aria-describedby="emailHelp">
                </div>
                

                <div class="mb-3">
                    <label for="image" class="form-label text-dark"><strong>Image</strong> </label>
                    <input type="file" class="form-control" name="image" id="image" multiple>
                </div>


                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                {{!-- </div>
                <div class="text-center mt-4"> --}}
                    <button type="button" class="btn" style="background-color: rgba(84,110,122,1.0)	;"><a href="/admin/banner-management" style="color: white;">Cancel</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/signup-validation.js"></script>
