<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-background-color="black">
      <!--data-image="../assets/img/sidebar-2.jpg"
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="" class="simple-text logo-normal">
          Admin Panel
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/user-management">
              <i class="material-icons">person</i>
              <p>Users Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/product-management">
              <i class="material-icons">content_paste</i>
              <p>Product Management</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="/admin/order-management">
              <i class="material-icons">bubble_chart</i>
              <p>Order Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/category-management">
              <i class="material-icons">category</i>
              <p>Category Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/coupon-management">
              <i class="material-icons">category</i>
              <p>Coupon Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/banner-management">
              <i class="material-icons">library_books</i>
              <p>Banner Management</p>
            </a>
          </li>

          <!-- <li class="nav-item ">
            <a class="nav-link" href="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li> -->
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->

      <!-- End Navbar -->

      <!-- content -->
      <div class="row">
        <div class="mt-5 mx-4 d-flex"><a href="../admin/sales-report" class="btn mt-5 ml-5 ms-auto btn-dark">Sales
            Report</a>
        </div>
      </div>
      <div class="container-fluid ml-5">
        <div class="row">
          <div class="col-xl-3 col-md-6 ">
            <div class="card prod-p-card bg-c-red" style="background-color: rgb(231,55,116);">
              <div class="card-body">
                <div class="row align-items-center m-b-25">
                  <div class="col">
                    <h4 class="m-b-5 text-white "><strong>Daily Sales </strong></h4>
                    <h3 class="m-b-0 text-white">{{dailySales}}</h3>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                  </div>
                </div>
                {{!-- <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11% </span> From Previous
                  Month</p> --}}
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 ">
            <div class="card prod-p-card bg-c-red" style="background-color: rgb(89,177,93);">
              <div class="card-body">
                <div class="row align-items-center m-b-25">
                  <div class="col">
                    <h4 class="m-b-5 text-white"><strong>Weekly Sales </strong></h4>
                    <h3 class="m-b-0 text-white">{{weeklySales}}</h3>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                  </div>
                </div>
                {{!-- <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11% </span> From Previous
                  Month</p> --}}
              </div>
            </div>
          </div>


          <div class="col-xl-3 col-md-6 ">
            <div class="card prod-p-card bg-c-red" style="background-color: rgb(56,56,62);">
              <div class="card-body">
                <div class="row align-items-center m-b-25">
                  <div class="col">
                    <h4 class="m-b-5 text-white"><strong>Monthly Sales </strong></h4>
                    <h3 class="m-b-0 text-white">{{monthlySales}}</h3>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                  </div>
                </div>
                {{!-- <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11% </span> From Previous
                  Month</p> --}}
              </div>
            </div>
          </div>
          {{!-- <div class="col-8">
            <canvas id="myChart"></canvas>
          </div> --}}
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="clearfix">
                    <h4 class="card-title float-left">Visit And Sales Statistics</h4>
                    <div id="visit-sale-chart-legend"
                      class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                  </div>
                  <canvas id="myChart" class="mt-4"></canvas>

                </div>
              </div>

            </div>

        </div>
      </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  (function () {
    const ctx = document.getElementById('myChart');
    $.ajax({
      method: 'get',
      url: '/admin/chart-details',
      success: ((response) => {
        console.log("this is response ------ ", response)
        let result = response.deliverGraph;
        let MonthlyData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        for (let i = 0; i < result.length; i++) {
          MonthlyData[result[i]._id - 1] = result[i].count;
        }
        console.log("this is console  ", MonthlyData)


        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: '# of Delivered Orders',
              data: MonthlyData,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        })
      })
    })
  })();
</script>