<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span><a
                    href="/change-password">Change Password</a><span class="mx-2 mb-0">/</span><strong
                    class="text-black">Confirm Password</strong></div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">{{user.name}}</h2>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="p-4 border mb-3">
                    <a href="/userprofile/{{user._id}}"><span class="d-block text-black h6 text-uppercase">My
                            Account</span></a>
                    <!-- <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p> -->
                </div>
                <div class="p-4 border mb-3">
                    <a href="/user-address/{{this._id}}"><span class="d-block text-black h6 text-uppercase">My Addresses</span></a>
                    <!-- <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p> -->
                </div>
                <div class="p-4 border mb-3">
                    <a href="/wishlist"> <span class="d-block text-black h6 text-uppercase">My Wishlist</span></a>
                </div>
                <div class="p-4 border mb-3">
                    <a href="/user-orders"><span class="d-block text-black h6 text-uppercase">My Orders</span></a>
                </div>
                <div class="p-4 border mb-3">
                    <a href="/my-wallet"><span class="d-block text-black h6 text-uppercase">My Wallet</span></a>
                </div>
                <div class="p-4 border mb-3">
                    <a href="/change-password"><span class="d-block text-primary h6 text-uppercase">Change
                            Password</span></a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="p-3 border text-primary">

                    <form action="/continue-password" method="post">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-center text-black">Change Password</h2>
                            </div>
                        </div>

                        <!-- <div class="p-3 p-lg-5 border"> -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="name" class="text-black">New Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" name="password" id="password" class="form-control"
                                    onkeyup="validatePassword()" placeholder="Password" required/>
                                <span id="password-error" class="validation-label" style="color: red;"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="name" class="text-black">Confirm Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" id="password2" class="form-control" name="password2"
                                    onkeyup="validateConfirmPassword()" placeholder="Confirm Password" required/>
                                <span id="password2-error" class="validation-label" style="color: red;"></span>
                            </div>

                        </div>


                        {{!-- <button onclick="editProfile()" id="edit-button"
                            class="buy-now btn btn-sm btn-dark">Edit</button> --}}
                        {{!-- <button type="button" class="buy-now btn btn-sm btn-dark"> --}}
                        <input type="submit" class="buy-now btn btn-sm btn-dark"  onclick="return validateForm()">

                        {{!-- </button> --}}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/javascripts/signup-validation.js"></script>
