<div class="site-wrap " >
  <div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Fabric Background</strong></div>
      </div>
    </div>
  </div>  

  <div class="site-section border-bottom" data-aos="fade">
    <div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Fabric Background</strong></div>
      </div>
    </div>
  </div> 
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16 mt-5">
            <figure>
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682192479/fabric_zmacgm.jpg" alt="Image placeholder" class="img-fluid rounded">
              <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a> -->

            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          
          
          <div class="site-section-heading pt-2 mb-4">
            <h2 class="text-black mt-4">Fabric Background</h2>
            <h4>French Terry</h4>
          </div>
          <p>French Terry is a type of knit used in clothing. the loops on French terry fabric allow the fabric to absorb moisture while maintaining breathability, making it the perfect choice whether you're working out, travelling, sleeping, or anything in between. French Terry fabric is known for its strength, durability, longevity and flexibility.</p>

          <h3 class="text-dark">Why should you choose French Terry?</h3>
          <p>Ultimate stretchability<br>
              Environmental friendly<br>
              Low maintenance<br>
              Mid weight<br>
              Suitable for everyday wear</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
    <footer class="site-footer border-top">
    <div class="container">
      <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12 ">
            <h2 class="mb-5 text-dark"><strong>Stay Comfy</strong></h2>
            <h4 class="mb-5 text-dark"><strong>Subscribe for Updates & more Offers</strong></h4>
            <div class="col-md-6 d-flex mx-auto text-center">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-dark" value="Subscribe">
            </div>
            <div class="col-md-12 mt-5" >
            <div class="row" style="justify-content:center;">
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shop</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Shipping & Returns</strong></h6>
             
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Contact & FAQ</strong></h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-dark"><strong>Our Story</strong></h6>
              
            </div>
          </div>
        </div>

            
          
          <p class="mt-5 text-dark"><strong>
            Crafted with love | 100% Cruelty free<br>&copy;<script data-cfasync="false" src=""></script><script>document.write(new Date().getFullYear());</script> by Calinteed</strong>
          </p>
        </div>
        
      </div>
    </div>
  </footer>
