<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Fabric Background</strong></div>
    </div>
  </div>
</div>  

<div class="site-section border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16 mt-5">
          <figure>
            <img src="images/fabric.jpg" alt="Image placeholder" class="img-fluid rounded">
            <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a> -->

          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        
        
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Fabric Background</h2>
          <h4>French Terry</h4>
        </div>
        <p>French Terry is a type of knit used in clothing. the loops on French terry fabric allow the fabric to absorb moisture while maintaining breathability, making it the perfect choice whether you're working out, travelling, sleeping, or anything in between. French Terry fabric is known for its strength, durability, longevity and flexibility.</p>

        <h3 class="text-dark">Why should you choose French Terry?</h3>
        <p>Ultimate stretchability<br>
            Environmental friendly<br>
            Low maintenance<br>
            Mid weight<br>
            Suitable for everyday wear</p>
        
      </div>
    </div>
  </div>
</div>
