<style>
  body{
    background: #000;
  }
</style>
<div class="site-wrap">
  <div class="site-section" style="background-color: black;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-7 px-5">
          <a href="/"><img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191740/white_ztu0wa.png" alt="Image placeholder" class="img-fluid rounded"></a>
        </div>
        <div class="col-md-5 mt-5">
          <h2 class="h4 mb-1 mt-3 mb-5 text-light text-center">Log In with OTP</h2>

          <div class="p-3 p-lg-8 text-center">
            <div id="sender">

              <div class="form-group d-inline-block mr-3" id="sender">
                <label for="c_subject" class="text-light float-left mb-2">Enter Your Mobile Number <span
                    class="text-danger">*</span></label>
                <input type="text" id="tel" name="tel" class="form-control mt-1" onkeyup="validateTel()"
                  placeholder="+91..." onfocus="addCountryCode()" />
                <span id="tel-error" class="validation-label" style="color: red;"></span>
                {{!-- <div id="recaptcha-container" class="mt-4"></div> --}}
                <input type="button" id="send" class="btn btn-dark btn-sm mt-3" value="Get OTP" onclick="phoneAuth()">
                <div class="isBlocked" id="isBlocked" style="display: none; color:red">User Is Blocked</div>
                <div class="notUser" id="notUser" style="display: none; color:red">You are not a registered User</div>
              </div>
              {{!-- <div class="form-group d-inline-block mt-4 mt-md-0">
                <input type="button" id="send" class="btn btn-dark btn-sm" value="Get OTP">
              </div> --}}
            </div>

            <div id="verifier" style="display: none;">
              <div class="form-group d-inline-block mr-3" id="verifier">
                <label for="c_subject" class="text-light mt-3 mb-4 float-left">Enter Your OTP Code <span
                    class="text-danger">*</span></label>
                <input type="text" id="verificationcode" class="form-control mt-5" placeholder="OTP Code" />
                <input type="button" id="verify" class="btn btn-dark btn-sm mt-3 " value='Verify'
                  onclick="codeverify()">
                <input class="number" id="number" value="" style="display: none;">
                <p class="mt-2"> Resend OTP in <span id="countdowntimer">30 </span> Seconds</p><span>
                <input type="button" id="resend-btn" class="btn btn-dark btn-sm btn-block" style="display:none ; " value='Resend OTP'
                  onclick="phoneAuth()"></span>
                {{!-- <input type="button" class="btn btn-dark btn-sm mt-3" id="resend-btn" style="display: none;" onclick="phoneAuth()" value="Resend OTP"> --}}
                <div class="form-group d-inline-block mt-md-0">
                </div>
                <div class="p-conf" style="display: none; color:green">Number Verified</div>
                <div class="n-conf" style="display: none; color:red">Incorrect OTP</div>
              </div>
            </div>
            {{!-- <p class="mem text-white text-center " style="font-size: 1em;display:none">Resend Otp? <a
                href="/login">Resend</a></p> --}}
            <p class="mem text-white text-center " style="font-size: 1em;">Already a Calinteed member? <a
                href="/login">Log
                In</a></p>
            <p class="mem text-white text-center " style="font-size: 1em">Not a Calinteed member yet? <a
                href="/signup">Sign
                Up</a></p>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>


  {{!--
  <script type="text/javascript" src="/javascripts/signup-validation.js"></script> --}}
  <script src="https://www.gstatic.com/firebasejs/15.0.2/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
  <script>
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBsz77mR2tyfw39NogMH9aGo9YGnuD1BOY",
      authDomain: "calinteed.firebaseapp.com",
      projectId: "calinteed",
      storageBucket: "calinteed.appspot.com",
      messagingSenderId: "59088420439",
      appId: "1:59088420439:web:6d3c533119bbee59112d12",
      measurementId: "G-LLGBQT8YWP"
    };
    firebase.initializeApp(firebaseConfig);
    //render()
    //function render() {
    //  window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    //  recaptchaVerifier.render();
    //}
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('send', {
      'size': 'invisible',
      'callback': (response) => {
        // reCAPTCHA solved, allow signInWithPhoneNumber.
        phoneAuth();
      }
    });
    //function for send message

    function phoneAuth() {
      var number = document.getElementById('tel').value;

      $.ajax({
        url: '/login-otp',
        data: {
          number: number
        },
        method: 'post',
        success: (response) => {
          if (response == null) {
            document.getElementById('notUser').style.display = 'block';
          }
          if (response.userStatus) {
            firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
              window.confirmationResult = confirmationResult;
              coderesult = confirmationResult;
              document.getElementById('sender').style.display = 'none';
              document.getElementById('verifier').style.display = 'block';
              document.getElementById('number').value = number;
            }).catch(function (error) {
              //            alert(error.message)
            });
          }
          else {
            document.getElementById('isBlocked').style.display = 'block';
          }
        }
      })

    }

    //function for code Verify

    function codeverify() {
      var code = document.getElementById('verificationcode').value;
      let number = document.getElementById('number').value;
      console.log(number)
      coderesult.confirm(code).then(function () {
        $.ajax({
          url: '/verify-otp',
          data: {
            number: number
          },
          method: 'post',
          success: (response) => {
            location.href = '/'
          }
        })
      }).catch(function () {
        document.getElementsByClassName('p-conf')[0].style.display = "none";
        document.getElementsByClassName('n-conf')[0].style.display = "block";
      })
    }
  </script>


  <script>
    function addCountryCode() {
      var tel = document.getElementById('tel');
      if (!tel.value.startsWith('+91')) {
        tel.value = '+91' + tel.value;
      }
    }
  </script>



  <script>
    var timeleft = 30;
    var downloadTimer = setInterval(function () {
      timeleft--;
      document.getElementById("countdowntimer").textContent = timeleft;
      if (timeleft <= 0){
        clearInterval(downloadTimer);
      document.getElementById("resend-btn").style.display = "block";
      }
    }, 1000);

  </script>


  <script>
    function resendOTP() {
      // Code to resend OTP
      timeleft = 30;
      document.getElementById("countdown").textContent = timeleft;
      document.getElementById("resend-btn").style.display = "none";
      var downloadTimer = setInterval(function () {
        timeleft--;
        document.getElementById("countdown").textContent = timeleft;
        if (timeleft <= 0)
          clearInterval(downloadTimer);
        document.getElementById("resend-btn").style.display = "block";
      }, 1000);
    }
  </script>

  <script type="text/javascript" src="/javascripts/signup-validation.js"></script>
