<style>
  body{
    background: #000;
  }
</style>
<div class="site-wrap" style="height:100%">
    <div class="site-section" style="background-color: black;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-7">
                    <a href="#"><img src="/imageorg/white.png" alt="Image placeholder" class="img-fluid rounded"></a>
                </div>
                <div class="col-md-5 ">
                    <h2 class="h4 mb-1 mt-3 mb-5 text-light text-center">Forgot Password</h2>
                    <form action="/reset-password" method="post">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="name" class="text-light float-left mb-3">Enter new Password <span
                                        class="text-danger">*</span></label>
                                <input type="password" name="password" id="password" class="form-control mb-3"
                                    onkeyup="validatePassword()" placeholder="Password" />
                                <span id="password-error" class="validation-label" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="name" class="text-light float-left mb-3">Confirm Password <span
                                        class="text-danger">*</span></label>
                               <input type="password" id="password2" class="form-control" name="password2"
                                    onkeyup="validateConfirmPassword()" placeholder="Confirm Password" />
                                <span id="password2-error" class="validation-label" style="color: red;"></span>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-dark btn-sm mt-4" onclick="return validateForm()">
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/signup-validation.js"></script>