<style>
  body{
    background: #000;
  }
</style>
<div class="site-wrap " >
  <div class="site-section " style="background-color: black; ">
    <div class="container" style="background-color: black;">
      <div class="row justify-content-center ">
        <div class="col-md-12 col-lg-7 px-5">
                    <a href="/"><img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191740/white_ztu0wa.png" alt="Image placeholder"  class="img-fluid rounded"></a>

          {{!-- <h2 class="h3 text-light mt-5" style="margin-left: 10rem;">Log In</h2> --}}
        </div>
        <div class="col-md-5 " >
          <h2 class="h4 mb-1 mt-4 mb-2 text-light text-center">Log In</h2>

          <form action="/login" method="post">
            
            <div class="p-3 ">
             
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-light">Email <span class="text-danger">*</span></label>
                  <input type="email" id="email" name="email" class="form-control"
                  onkeyup="validateEmail()" placeholder=" Enter registered email" />
              <span id="email-error" class="validation-label" style="color: red;"></span>                  </div>
              </div>
              <!-- <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-light">Mobile Number <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_subject" name="c_subject" placeholder="Mobile Number *">
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-light">Password <span class="text-danger">*</span></label>
                  <input type="password" name="password" id="password" class="form-control"
                  onkeyup="validatePassword()" placeholder="Enter your password"/>
              <span id="" class="validation-label" style="color: red;"></span>                  </div>
              </div>
              {{#if loginErr}}
                <div style="color: red;">{{loginErr}}</div>
              {{/if}}
              <div class="form-group row mt-4">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-dark btn-lg btn-block" value="Login" onclick="return validateForm()">
                </div>
              </div>
              <span id="submit-error" class="validation-label" style="color: red;"></span>
              <a href="/forgot-password">Forget Password?</a>
              <p class="mem text-white" style="margin-top: 0.5em; font-size:1em">Login with Otp? <a href="/login-otp">Get Otp</a></p>
              <p class="mem text-white" style="margin-top: 0.5em; font-size:1em">Not a Calinteed member? <a href="/signup">Sign Up</a></p>
            </div>
          </form>
        </div>

          {{!-- <div class="col-md-12 col-lg-7">
            <a href="#"><img src="/imageorg/white.png" alt="Image placeholder"  class="img-fluid rounded"></a>
          </div> --}}

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/signup-validation.js"></script>


  