<div class="site-wrap">

  {{#each banners}}
  {{#if this.active}}
  <div class="site-blocks-cover" style="background-image: url({{this.image}});" data-aos="fade">
  {{!-- <div class="site-blocks-cover" style="background-image: url(images/slide1.png);" data-aos="fade"> --}}
    <div class="container">
      <div class="row align-items-start align-items-md-center justify-content-end">
        <!-- <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
          <h1 class="mb-2">Finding Your Perfect Shoes</h1>
          <div class="intro-text text-center text-md-left">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
            <p>
              <a href="#" class="btn btn-sm btn-primary">Shop Now</a>
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  {{/if}}
{{/each}}
  

  <div class="site-section block-8"style="background-color: black;">
    <div class="container" >
      <!-- <div class="row justify-content-center  mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Big Sale!</h2>
        </div>
      </div> -->
      <div class="row align-items-center" >
        {{!-- {{#each banners}}
        {{#if this.active}} --}}
        <div class="col-md-12 col-lg-7 mb-5">
          {{!-- <img src="{{this.image}}" alt="Image placeholder" class="img-fluid rounded"> --}}
          <a href="#"><img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191740/white_ztu0wa.png" alt="Image placeholder" class="img-fluid rounded"></a>
        </div>
        {{!-- {{/if}}
        {{/each}} --}}
        <div class="col-md-12 col-lg-5 text-center pl-md-5">
          <h1 class="font-weight-bold mb-5">ABOUT US</h1>
          <!-- <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p> -->
          <p style="font-size: 18px;letter-spacing: 0.10rem;text-align:justify" >We are a team of five, stepping into the fashion industry with the sole aim of bringing you the best quality clothing.
          The idea of Calintede came from a simple thought of bringing a change in the industry.</p>            <!-- <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p> -->
        </div>
      </div>
    </div>
  </div>
   
  
{{!-- <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center" > --}}
          <div class="site-section site-blocks-2 " style="background-color: black;">
            <h1 class="text-center text-light">OUR COLLECTIONS</h1>
          </div>
      </div>

          {{!-- <h1 class="text-center bg-black">OUR COLLECTIONS</h1> --}}

  <div class="site-section site-blocks-2 "  style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191857/1_hoe0ao.jpg" alt="" class="img-fluid">
            </figure>
            <!-- <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Women</h3>
            </div> -->
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191860/2_hd6ye4.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <span class="text-uppercase " style="font-size: 20px;">Streety Nine'23</span>
              {{!-- <h3 style="font-size: 20px;"></h3> --}}
            </div> 
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191861/3_ah3reh.jpg" alt="" class="img-fluid">
            </figure>
            <!-- <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Men</h3>
            </div> -->
          </a>
        </div>
      </div>
    </div>



  <div class="site-section site-blocks-2"  style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191862/4_sjrrhv.jpg" alt="" class="img-fluid">
            </figure>
            <!-- <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Women</h3>
            </div> -->
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191946/5_ttta33.jpg" alt="" class="img-fluid">
            </figure>
            <!-- <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Children</h3>
            </div> -->
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <a class="block-2-item" href="#">
            <figure class="image">
              <img src="https://res.cloudinary.com/dah6qford/image/upload/v1682191947/7_dj85oq.jpg" alt="" class="img-fluid">
            </figure>
            <!-- <div class="text">
              <span class="text-uppercase">Collections</span>
              <h3>Men</h3>
            </div> -->
          </a>
        </div>
      </div>
    </div>

  <footer class="site-footer border-top">
    <div class="container">
      <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <h2 class="mb-5 text-light">Stay Comfy</h2>
            <h4 class="mb-5 text-light">Subscribe for Updates & more Offers</h4>
            <div class="col-md-6 d-flex mx-auto text-center">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-dark" value="Subscribe">
            </div>
            <div class="col-md-12 mt-5" >
            <div class="row" style="justify-content:center;">
            <div class="col-md-2">
              <h6 class="text-light">Shop</h6>
             
            </div>
            <div class="col-md-2">
              <h6 class="text-light">Shipping & Returns</h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-light">Contact & FAQ</h6>
              
            </div>
            <div class="col-md-2">
              <h6 class="text-light">Our Story</h6>
              
            </div>
          </div>
        </div>

            
          
          <p class="mt-5 text-light">
            Crafted with love | 100% Cruelty free<br>&copy;<script data-cfasync="false" src=""></script><script>document.write(new Date().getFullYear());</script> by Calinteed
          </p>
        </div>
        
      </div>
    </div>
  </footer>
</div>

 
    
