<div class="site-wrap" >
  <div class="site-section " style="background-color: black; ">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-7">
                    <a href="#"><img src="/imageorg/white.png" alt="Image placeholder"  class="img-fluid rounded"></a>

          {{!-- <h2 class="h3 text-light mt-5" style="margin-left: 10rem;">Log In</h2> --}}
        </div>
        <div class="col-md-5 mt-3">
          <h2 class="h4 mb-1 mt-5 mb-2 text-light text-center">Log In</h2>

          <form action="/login" method="post">
            
            <div class="p-3 ">
             
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-light">Email <span class="text-danger">*</span></label>
                  <input type="email" id="email" name="email" class="form-control"
                  onkeyup="validateEmail()" placeholder=" Enter registered email" />
              <span id="email-error" class="validation-label" style="color: red;"></span>                  </div>
              </div>
              <!-- <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-light">Mobile Number <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_subject" name="c_subject" placeholder="Mobile Number *">
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-light">Password <span class="text-danger">*</span></label>
                  <input type="password" name="password" id="password" class="form-control"
                  onkeyup="validatePassword()" placeholder="Enter your password"/>
              <span id="" class="validation-label" style="color: red;"></span>                  </div>
              </div>
              {{#if loginErr}}
                <div style="color: red;">{{loginErr}}</div>
              {{/if}}
              <div class="form-group row mt-4">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-dark btn-lg btn-block" value="Login" onclick="return validateForm()">
                </div>
              </div>
              <span id="submit-error" class="validation-label" style="color: red;"></span>
              <a href="/forgot-password">Forget Password?</a>
              <p class="mem text-white" style="margin-top: 0.5em; font-size:1em">Login with Otp? <a href="/login-otp">Get Otp</a></p>
              <p class="mem text-white" style="margin-top: 0.5em; font-size:1em">Not a Calintede member? <a href="/signup">Sign Up</a></p>
            </div>
          </form>
        </div>

          {{!-- <div class="col-md-12 col-lg-7">
            <a href="#"><img src="/imageorg/white.png" alt="Image placeholder"  class="img-fluid rounded"></a>
          </div> --}}

      </div>
    </div>
  </div>

  {{!-- <footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer> --}}
</div>

<script type="text/javascript" src="/javascripts/signup-validation.js"></script>


  